@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variable */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }

  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-family);
    overflow-x: hidden;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    display: flex;
    width: 100vw;
    background-color: rgb(244, 250, 243);
    height: 50px;
    box-shadow: 0 3px 10px var(--secondary-shadow);

}
.nav{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content:space-around;
    color: var(--primary-color);
}
.nav-links{
    display: flex;
    padding: 0 30px;

}
logo{
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
}
.nav-links li{

    list-style: none;
    padding: 0 20px;
    cursor: pointer;
}
.nav-links li a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-shadow);
    font-size: 18px;
}


.nav-links li a:hover{
   color: #212cad;
}
.fa-bars{
  display: block;
  cursor: pointer;
}

.fa-bars{
    display: none;
}

/* Skills section */
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }

  .skill-header {
    margin-bottom: 1rem;
  }

  .skills-wrapper img {
    padding: 1.25rem;
  }

  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
  img{
    border: #ccceed;
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }


  /* Skills section ends */

  /* About section */
  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about img{
    width: 30%;
    margin-left: 34%;
  }
.about p{
    margin-top: 20px;
    align-content: center;
    font-size: 15px;
    margin: 0 40px;
}
.about h1{
    margin-bottom: 20px;
}
  /* projects */
  .projects .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 20px;
    margin-bottom: 30px;
    margin-right: -20px;
  }
  .projects  h1{
margin-left: 35%;
  }

  .projects, .container .container1,.container3{
    margin-right: 20px;
  }
.projects .container3{
    background-color: #e7e8ec;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}
.projects .container2{
    background-color: #e7e8ec;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}
.projects .container1{
    background-color: #e7e8ec;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}
.projects .container4{
    background-color: #e7e8ec;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}
.projects .container p{
    margin: 15px;
}
.projects h3{
    margin-left: 10%;
}
.projects img{
    margin-left: 10%;
}
/* contact */

.contact{
  background-color: #707073;
}
.contact h1{
  margin-left: 40%;
}
.contact .container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 40px;
  margin-top: 30px;
 
}
.contact .container1 ,.container2,.container3,.container4{
  margin-bottom: 20px;
  background-color: #ccceed;
  padding: 30px;
  width: 80%;
  border-radius: 20px;
}

/* media quary */

@media (max-width:700px) {
  .nav-links{
    display: block;
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 60px;
    left: 0;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    padding: 20px 0;
  }
  .fa-bars{
    display: block;
    cursor: pointer;
  }
  .contact .container{
display: flex;
flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
    width: 80%;
  }  
  .projects .container{
  display: flex;
  flex-direction: column;
  margin-left: 59px;
  }

}



.active{
    left: -90%;
}
